<div class="card__actions">
    
    <form action="/agregarProductoLista" method="POST">
        <button class="btn" type="submit">Agregar a Listas</button>
        <input type="hidden" name="idProducto" value="<%= producto.idProducto %>">
    </form>
</div>
    
