<div class="container-fuid">
        <div id="myCarousel" class="carousel slide  ml-0 mr-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <div class="carousel-inner" >
        
                <div class="carousel-item active align-items:center" data-interval="2000" >
                    <img class="d-block ml-5 " src="https://res.cloudinary.com/abmontero/image/upload/v1557350958/imagenesCarrousel/verano1900x500_pnqpmw.png" alt="Imagem de verano" style="width: 100%">
                </div>
                <div class="carousel-item align-items: center" data-interval="2000" >
                    <img class="d-block ml-5" src="https://res.cloudinary.com/abmontero/image/upload/v1557350957/imagenesCarrousel/bebes1900x500_zzzwfo.png" alt="Imagem de bebes" style="width: 100%">
                </div>
                <div class="carousel-item align-items: center" data-interval="2000" >
                    <img class="d-block ml-5 " src="https://res.cloudinary.com/abmontero/image/upload/v1557350958/imagenesCarrousel/departamentos1900x500_zrpyvt.png" style="width: 100%">
                </div>
                
            </div>
        
            <a class=" carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
</div>

            
        
        
        