<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>


        
        <div id="loginbox" style="margin-top:50px;" class="row  mx-5 my-5 justify-content-center">
            <div class="panel panel-info p-2 border border-primary rounded" style="width: 50%">
                <div class="panel-heading">
                    <div class="panel-title">Recuperar contraseña</div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="login-form" action="/resetPwd" method="POST" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="email" value=""
                                placeholder="Ingrese su email">
                        </div>

                      

                        <div style="margin-top:10px" class="form-group">

                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>

                    </form>



                </div>
            </div>
        </div>

    </div>
    <%- include('../includes/end.ejs') %>